

$darkgrey: #3a3a3a;
$lightgrey: #cccccc;
$laks: #ffd3b6;



/* HEADER STYLING */
.header1 {
  display: flex;
  flex-direction: column;
  img {
    width: 40%;
    display: block;
    margin: auto;
  }
}
/* STYLER NAV BAR*/
.navul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navli{
  text-align: center;
  a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: $darkgrey;
    font-family: "Apex New";
  }
}

.navliactive a{
  font-weight: bold;
}

